<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="search()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="postingDescription" [(ngModel)]="filter.postingDescription">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
        name="dueDateFrom" [(ngModel)]="filter.dueDateFrom"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                    name="dueDateTo" [(ngModel)]="filter.dueDateTo"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table
        [value]="postings" [responsive]="true"
        [paginator]="true" [rows]="filter.size"
        [lazy]="true" [totalRecords]="totalElements"
        (onLazyLoad)="whenChangingPage($event)" #table
      >

        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-date-header">Vencimento</th>
            <th class="col-date-header">Pagamento</th>
            <th class="col-price-header">Valor</th>
            <th class="col-actions-header" ></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-posting>
          <tr>
            <td>{{ posting.person }}</td>
            <td>{{ posting.postingDescription }}</td>
            <td class="col-date" >{{ posting.dueDate | date: 'dd/MM/y' }}</td>
            <td class="col-date">{{ posting.paymentDate | date: 'dd/MM/y' }}</td>
            <td class="col-price" [style.color]="posting.postingType === 'DESPESA' ? 'red' : 'blue'">
              {{ posting.postingValue | number:'1.2-2' }}
            </td>
            <td class="col-actions">

              <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                      [routerLink]="['/postings', posting.id]"
                      [disabled]="!auth.hasPermission('ROLE_UPDATE_POSTING')" ></button>

              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                      (click)="confirmedDelete(posting)"
                      [disabled]="!auth.hasPermission('ROLE_DELETE_POSTING')" ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado!
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>

  <div class="ui-g-12">
    <button routerLink="/postings/new" pButton label="Novo Lançamento"></button>
  </div>

</div>
