<div class="container">
  <form autocomplete="off" (ngSubmit)="save()" [formGroup]="form">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ getEditing() ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText
              required minlength="5" name="personName"
               formControlName="personName">

        <app-message [control]="form.get('personName')" error="required" text="Informe um Nome"></app-message>
        <app-message [control]="form.get('personName')" error="minlength" text="Mínimo de {{ form.get('personName').errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid" formGroupName="address">
        <label>Logradouro</label>
        <input type="text" pInputText name="street"
               formControlName="street" required >

        <app-message [control]="form.get('address.street')" error="required" text="Informe um logradouro"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="address">
        <label>Número</label>
        <input type="text" pInputText
               name="addressNumber" formControlName="addressNumber"
               required >

        <app-message [control]="form.get('address.addressNumber')" error="required" text="Informe um Numero"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="address">
        <label>Complemento</label>
        <input type="text" pInputText formControlName="complement" name="complement">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="address">
        <label>Bairro</label>
        <input type="text" pInputText
               formControlName="district" name="neighborhood" required>
        <app-message [control]="form.get('address.district')" error="required" text="Informe um Bairro"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="address">
        <label>CEP</label>
        <p-inputMask mask="99.999-999"
           formControlName="zipCode" name="cep"
           required></p-inputMask>
        <app-message [control]="form.get('address.zipCode')" error="required" text="Informe o CEP"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="address">
        <label>Cidade</label>
        <input type="text" pInputText
               name="city" formControlName="city"
               required>
        <app-message [control]="form.get('address.city')" error="required" text="Informe a Cidade"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="address">
        <label>Estado</label>
        <input type="text" pInputText
                formControlName="addressState"
                name="state" required>
        <app-message [control]="form.get('address.addressState')" error="required" text="Informe o Estado"></app-message>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!form.valid"></button>
        <button pButton type="submit" label="Novo" class="ui-button-info" (click)="new()"></button>
        <a routerLink="/persons">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
