<p-dataTable [value]="persons" [paginator]="true" [rows]="2" [responsive]="true">
  <p-column field="personName" header="Nome"></p-column>
  <p-column header="Cidade">
    <ng-template let-pers="rowData" pTemplate="body">
      {{pers.address.city}}
    </ng-template>
  </p-column>
  <p-column header="Estado">
    <ng-template let-pers="rowData" pTemplate="body">
      {{pers.address.addressState}}
    </ng-template>
  </p-column>
  <p-column header="status">
    <ng-template let-pers="rowData" pTemplate="body">
            <span>
              {{ !pers ? "Inativo" : "Ativo"}}
            </span>
    </ng-template>
  </p-column>
  <p-column styleClass="col-actions">
    <ng-template pTemplate="body">
      <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    </ng-template>
  </p-column>
</p-dataTable>
