<div class="container">
  <form autocomplete="off" (ngSubmit)="save()" [formGroup]="form">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ getEditing() ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton  [options]="types" #type
        name="type" formControlName="postingType"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false"
          [readonlyInput]="false" [showIcon]="false" name="dueDate"
          formControlName="dueDate"></p-calendar>

        <app-message [control]="form.get('dueDate')"
                     error="required" text="Informe uma Data"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ form.get('postingType').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"
        [inline]="false" readonlyInput="false" showIcon="false"
        formControlName="paymentDate" name="paymentDate"
        ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="description" formControlName="postingDescription">

        <app-message [control]="form.get('postingDescription')" error="mandatory" text="Informe uma descrição"></app-message>
        <app-message [control]="form.get('postingDescription')" error="minLength" text="Mínimo de {{ form.get('postingDescription').errors?.minLength?.length }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input currencyMask
               [options]="{ prefix: '', thousands: '.' , decimal: ',', allowNegative: false }"
               type="text" pInputText placeholder="0,00"
               name="price" formControlName="postingValue">

        <app-message [control]="form.get('postingValue')" error="required" text="Informe um Preco"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="category">
        <label>Categoria</label>
        <p-dropdown placeholder="Selecione" [options]="categories" [autoWidth]="false"
                    name="category" formControlName="id"></p-dropdown>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="person">
        <label>Pessoa</label>
        <p-dropdown [filter]="true" placeholder="Selecione" [options]="persons" [autoWidth]="false"
                    name="person" formControlName="id"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"
        name="note" formControlName="note"
        ></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
        <button pButton type="submit" label="Novo" class="ui-button-info"
        (click)="new()"></button>
        <a routerLink="/postings">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
