/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Verdana, Helvetica,sans-serif;
  color: #404C51;
  margin: 0;
  padding: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}


.col-price {
  width:120px;
  text-align: right;
}

.col-date {
  width:120px;
  text-align: center;
}

.col-actions {
  width:90px;
  text-align: center;
}

.col-price-header {
  width:120px;
}

.col-date-header {
  width:120px;
}

.col-actions-header {
  width:90px;
}

.ui-dropdown-filter-container {
  width: 100%;
}

