<div class="container">
  <form autocomplete="off" (ngSubmit)="search()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="personName" [(ngModel)]="filter.personName">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table
         [value]="persons" [responsive]="true"
         [paginator]="true" [rows]="filter.size"
         [lazy]="true" [totalRecords]="totalElements"
         (onLazyLoad)="whenChangingPage($event)" #table
      >

        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-person>
          <tr>
            <td>{{ person.personName }}</td>
            <td>{{ person.address.city }}</td>
            <td>{{ person.address.addressState }}</td>
            <td>
              <a *ngIf="auth.hasPermission('ROLE_UPDATE_PERSON')" [pTooltip]=" person.active ? 'Inativar' : 'Ativar'" tooltipPosition="top" (click)="changeState(person)" style="cursor: pointer">
                {{ person.active ? "Ativo" : "Inativo"}}
              </a>

              {{ !auth.hasPermission('ROLE_UPDATE_PERSON') ? person.active ? "Ativo" : "Inativo" : null }}

            </td>
            <td>
              <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                      [routerLink]="['/persons', person.id]"
                      [disabled]="!auth.hasPermission('ROLE_UPDATE_PERSON')"></button>
              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                      (click)="confirmedDelete(person)"
                      [disabled]="!auth.hasPermission('ROLE_DELETE_PERSON')"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhuma Pessoa encontrada
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>

  <div class="ui-g-12">
      <button routerLink="/persons/new" pButton label="Nova Pessoa"></button>
    </div>
</div>
